$FONT: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

:root {
  --c-primary: #ff7252;
  --body-text: #222;
  --bg: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text: #fff;
    --bg: #121212;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: olivedrab solid 2px !important; //? use for debugging css positioning
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  background: var(--bg);
  color: var(--body-text);
  accent-color: var(--c-primary);
  color-scheme: dark light;

  font-family: $FONT;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// explicitly make every page 100vh
html,
body,
#__next {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 950;
  color: var(--c-primary);
}
